<!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand" href="index.html">Cyber<span>Cheetah</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        
          <li><a (click)="logMeOutPls()" >Logout</a></li>
          <li class="btn-trial"><a [routerLink]="['/careers']">Create Careers</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->

  <!--Banner-->
  <div class="banner">
    <div class="bg-color">
      <div class="container">
        <div class="row">
          <div class="banner-text text-center">
            <div class="text-border">

            </div>
            <div class="intro-para text-center quote">
              <p class="big-text">Learning IT Today . . . Leading in the IT Industry Tomorrow.</p>
              <p class="small-text">Come learn about all the different career path you can take in IT, the possibilities are endless.</p>
            </div>
            <img src="/assets/images/logo_transparent_background.png" class="logo-responsive">
            <a href="#feature" class="mouse-hover">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Feature-->
   <section id="feature" class="section-padding">
     <div class="container">
       <div class="row">
         <div class="header-section text-center">
           <h2>IT Careers</h2>
           <p>Come learn about the latest careers and technologies in the IT Industry</p>
           <hr class="bottom-line">
         </div>
         <div class="feature-info">
           <div class="fea">
             <div class="col-md-4">
               <div class="heading pull-right">
                 <h4>Latest Technologies</h4>
                 <p>Learn some of the latest techologies like Golang, AWS Redshift,and Puppet</p>
               </div>
               <div class="fea-img pull-left">
                 <i class="fa fa-css3"></i>
               </div>
             </div>
           </div>
           <div class="fea">
             <div class="col-md-4">
               <div class="heading pull-right">
                 <h4>Certifcations</h4>
                 <p>Learn about some of the best IT certificaitons like CISSP, AWS Solution Architecht, and Salesforce Architecht</p>
               </div>
               <div class="fea-img pull-left">
                 <i class="fa fa-drupal"></i>
               </div>
             </div>
           </div>
           <div class="fea">
             <div class="col-md-4">
               <div class="heading pull-right">
                 <h4>Background</h4>
                 <p>Learn the proper steps in order to set yourself up for success</p>
               </div>
               <div class="fea-img pull-left">
                 <i class="fa fa-trophy"></i>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
   <!--/ feature-->

   <section id="work-shop" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="header-section text-center">
          <h2>Upcoming Online Workshop</h2>
          <p>Learn about some of the upcoming online workshops </p>
          <hr class="bottom-line">
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-html5 color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">HTML</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-css3 color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">CSS</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box text-center">
            <div class="icon-box">
              <i class="fa fa-joomla color-green"></i>
            </div>
            <div class="icon-text">
              <h4 class="ser-text">Magento</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ work-shop-->
  <!--Footer-->
    <footer id="footer" class="footer">
      <div class="container text-center">

        <h3>Get Started With a Career</h3>




        <!-- End newsletter-form -->
        <ul class="social-links">
          <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>


      </div>
    </footer>
    <!--/ Footer-->
